$tablet-bp: 768px;
$desktop-bp: 1280px;

// colors
$color-ice: #00C9FF;
$color-yellow: #FFBF00;
$color-dark-blue: #0C143A;
$color-black-soft: #413B2C;
$color-wl: #F9FAFB;
$color-neutral: #1F2937;

$color-g: #22C55E;
$color-r: #EF4444;
$color-w: #FACC15;